
line{
  stroke: black;
}

circle{
  stroke:blue;
  fill:grey;
}
.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

rect{
  stroke: red;
  fill:none;
}

ellipse{
  stroke:green;
  fill:none;
}

g.group0 path,
g.group0 circle {
  stroke: red;
  fill: none;
}

/* table attributes */


table {
  border-collapse: collapse;
  border: 1px solid #ddd;
  overflow-y:scroll;
  display: block;
  border-collapse: collapse;
  font-size: 7px;
  height:300px;
  width: 100%;
  margin-bottom: 40px;
}

th, td {
  border: 1px solid #ddd;

    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

table#table2{
  height:600px;
  width: 100%;

}

buton {
  line-height: 60px;
  font-weight: bold;


}
button:hover {
  background: lightsalmon;
}


html, body,
.container {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	overflow-y: scroll;
	background: #333;
}

.splitlayout {
	position: relative;
	overflow-x: hidden;
	min-height: 100%;
	width: 100%;
}

/* Intro sides */
.side {
	position: fixed;
	top: 0;
	z-index: 100;
	width: 50%;
	height: 100%;
	text-align: center;
	-webkit-backface-visibility: hidden;
}


.side-left {
	left: 0;
	background: #fff;
	color: #fff;
	outline: 1px solid #47a3da; /* avoid gap */
}

.side-right {
	right: 0;
	background: #fff;
	color: black;
	outline: 1px solid #fff; /* avoid gap */
}

#tree{
  width: auto;
  height: auto;
  margin: 20px;
}
